<!DOCTYPE html>
<html>
<head>
    <title>Doktor Güncelle</title>
</head>
<body>
    <h1>Doktor Bilgilerini Güncelle</h1>
    <form action="/doktor_guncelle" method="post">
        <label for="ad">Ad:</label><br>
        <input type="text" id="ad" name="ad"><br>
        <label for="soyad">Soyad:</label><br>
        <input type="text" id="soyad" name="soyad"><br>
        <label for="uzmanlik">Uzmanlık Alanı:</label><br>
        <input type="text" id="uzmanlik" name="uzmanlik"><br>
        <label for="telefon">Telefon Numarası:</label><br>
        <input type="text" id="telefon" name="telefon"><br>
        <label for="email">E-posta Adresi:</label><br>
        <input type="text" id="email" name="email"><br>
        <input type="submit" value="Güncelle">
    </form>
</body>
</html>
